<h2>{{eventById.eventName}}</h2>
<div>Szczegóły:</div>
<ol>
  <li><b>Opis:</b> {{eventById.description}}</li>
  <li><b>Czas start: </b>{{eventById.eventStart}}</li>
  <li><b>Organizator: </b>{{eventById.organizerName}}</li>
  <li><b>Adres:</b>
    <ul>
      <li><b>Miasto:</b> {{eventById.city}}</li>
      <li><b>Ulica: </b>{{eventById.street}}</li>
      <li><b>Kod pocztowy: </b>{{eventById.zipcode}}</li>
    </ul>
  </li>
</ol>
<!--<form name="event" (ngSubmit)="invite()">-->
<!--  <label>-->
<!--    Wpisz email osoby, którą chcesz zaprosić-->
<!--    <div><input type="text" [(ngModel)]="invitePerson.email"></div>-->
<!--  </label>-->
<!--  <div><input type="submit" value="Wyślij zaproszenie"></div>-->
<!--</form>-->
<div>Komentarz
  <form name="comment" (ngSubmit)="addNewComment()">
    <textarea name="content" type="text" [(ngModel)]="comment.content"></textarea>
    <input type="submit" value="Dodaj komentarz">
  </form>
</div>
<div *ngFor="let comment of comments">
  <b>
    <div>
      {{comment.username}}
    </div>
  </b>
  <div>{{comment.content}}</div></div>
